<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.dhsm.dao.HistoryMapper">

    <resultMap id="valueMap" type="java.util.HashMap">
        <result property="value" column="history_value" jdbcType="FLOAT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getHistoryList" resultMap="valueMap">
        select
                create_time,
                history_value
            from dev_history_signal
            where device = #{deviceId,jdbcType=VARCHAR}
            AND signal_id = #{id,jdbcType=VARCHAR}
				group by create_time
				order by create_time
			  	limit 15
    </select>

</mapper>
