<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.dhsm.dao.TreeDataMapper">
    <resultMap id="StationResultMap" type="java.util.HashMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DeviceResultMap" type="java.util.HashMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="online" column="online" jdbcType="INTEGER"/>
        <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
        <result property="alarmFlag" column="alarm_flag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="HardwarePluginResultMap" type="java.util.HashMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="device" column="device" jdbcType="VARCHAR"/>
        <result property="name" column="plugin_type" jdbcType="VARCHAR"/>
        <result property="slot" column="slot" jdbcType="INTEGER"/>
        <result property="alarmFlag" column="alarm_flag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getStationMap" resultMap="StationResultMap">
        select
            id,
            number,
            name,
            address,
            remark
        from info_station
    </select>

    <select id="getStationStatus" resultType="java.lang.Boolean">
        select count(*)
            from info_protect_device
        WHERE 1=1
        <if test='stationId != null'>
          AND station_id = #{stationId,jdbcType=VARCHAR}
        </if>
          AND alarm_flag = 1
    </select>

    <select id="getDeviceMap" resultMap="DeviceResultMap" >
        select
            id,
            name,
            model,
            online,
            ip_address,
            alarm_flag
        from info_protect_device
    </select>

    <select id="getHmoduleStatus" resultType="java.lang.Boolean">
        select count(*)
        from info_plugin_config
        WHERE 1=1
        <if test='deviceId != null'>
            AND device = #{deviceId,jdbcType=VARCHAR}
        </if>
        AND alarm_flag = 1
    </select>

    <select id="getSmoduleStatus" resultType="java.lang.Boolean">
        select count(*)
        from dev_online_signal
        WHERE 1=1
        <if test='deviceId != null'>
            AND device = #{deviceId,jdbcType=VARCHAR}
        </if>
        AND alarm_flag = 1
        AND src != 0
    </select>

    <select id="getHardwarePluginMap" resultMap="HardwarePluginResultMap">
        select
          id,
          device,
          plugin_type,
          slot,
          alarm_flag
        FROM info_plugin_config
        WHERE 1 = 1
        <if test='deviceId != null'>
            AND device = #{deviceId,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
