<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.dhsm.dao.UserMapper">
	<resultMap id="UserResultMap" type="com.nari.dhsm.entity.LoginVo">
		<result property="Id" column="id" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="createBy" column="create_by" jdbcType="VARCHAR"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
		<result property="hasDel" column="has_del" jdbcType="INTEGER"/>
		<result property="role" column="role" jdbcType="INTEGER"/>
		<result property="operateAuth" column="operate_authority" jdbcType="INTEGER"/>
	</resultMap>


	<select id="loginVoCheck" parameterType="java.util.HashMap" resultType="java.lang.Boolean">
		SELECT count(*)
		FROM info_user
		WHERE
			phone = #{username,jdbcType = VARCHAR} AND
			password = #{password,jdbcType = VARCHAR}
	</select>



</mapper>
